/* esta es para la configuracion de la imagen del login*/ 
body{
	background-image: url(imagenes/32017-negro.jpg);
}
.imagen{
	color: white;
	text-align: center;
	position: relative;
	width: 150px;
  	height: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;	
 }
 .titulo{
	 font-size: 30px;
	 text-align: center;
	 color: white;
	 width: auto;
	 height: auto;
	 margin-left: auto;
	 margin-right: auto;
	 margin-top: 50px;	
 }
 .enlaceRegitro{
	 text-align: center;
	 font-size: 20px;
 }
 .label1{/* el label de mensaje "si no estas registrado"*/
	color: white;
	font-weight: bolder;
 }



 /* se trabajo con el div de ingrese un nombre*/
.inputNombre input[type=text]{
	padding-left: 50px;
}
.inputNombre{
	position: relative;
}
.inputNombre i{
	position: absolute;
	left: 0;
	top: 0;
	padding: 4px 6px;
	color: black;
	font-size: 30px;
	background-color: dodgerblue;
	border-radius: 10%;
}

/*.inputNombre input[type=text]:focus + i{
	color: dodgerblue;
}*/




 /* se trabajo con el div de ingrese una contraseña*/
.inputContrasenna input[type=password]{
	padding-left: 50px;
}
.inputContrasenna{
	position: relative;
}
.inputContrasenna i{
	position: absolute;
	left: 0;
	top: 0;
	padding: 4px 6px;
	color: black;
	font-size: 30px;
	background-color: dodgerblue;
	border-radius: 5%;
}
/*este medodo de abajo es para cuando se da click en el input se pinte el icono del color que se quiera*/
/*.inputContrasenna input[type=password]:focus + i {
	color:dodgerblue;
}/*
 /* se trabajo con el div de iconos de los ojos*/
.verContraseña o{
    color: #191919;
	position: absolute;
	height: 0px;
	right: 40px;
	top: 7px;
	transform: translateX(100%);
	font-size: 25px;
}
#ojoAbierto{
    display: inline;
}
#ojoCerrado{
    display: none;
}
 /* se trabajo con el div del boton para ingrear*/
 .btnIngresar{
	 text-align: center;
	 font-size: 20px;
 }
