/* esta es para la configuracion de la imagen del login*/ 
.imagen{
	text-align: center;
	position: relative;
	width: 200px;
  	height: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 16px;	
 }
 .titulo{
	 text-align: center;
	 position: relative;
	 width: 100px;
	 height: 100px;
	 margin-left: auto;
	 margin-right: auto;
	 margin-top: 0px;	
 }