body{
	background-image: url(imagenes/32017-negro.jpg);
}
/* esta es para la verificacion de la Primer contrasenna*/ 
.input-contrasenna1{
    position: relative;
}
.verContraseña1{
    color: #191919;
	position: absolute;
	height: 20px;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
}
#ojoAbierto1{
    display: inline;
}
#ojoCerrado1{
    display: none;
}

 /* esta es para la verificacion de la segunda contrasenna*/ 
.input-contrasenna2{
    position: relative;
}
.verContraseña2{
    color: #191919;
	position: absolute;
	height: 20px;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
}
#ojoAbierto2{
    display: inline;
}
#ojoCerrado2{
    display: none;
}
.titulo{
	text-align: center;
	font-size: 45px;
	/*font-weight: bold;*/
	color: white;
}